#home {
    background-image: url("http://lorempixel.com/1600/600/nature/1");
    text-shadow: 2px 2px 4px black;
    color: white;
}

#activities .row > div{
    padding: 10px;
}

section {
    position: relative;
    z-index: 0;
    padding: 25px;
}

html {
    overflow-x: hidden;
}

body {
    font-family: League Gothic, Geneva, sans-serif;
    font-size: 25px;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

p.lead {
    font-size: 30px;
}

img.parallax {
    position: relative;
    z-index: 0;
    margin: -10% 0;
    max-width: 100%;
}